.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 40px;
}

.App-header {
  background: #333;
  overflow: hidden;
  padding: 0px;
  color: white;
}

.Snapshot--size {
  width: 330px;
  min-height: 600px;
}

@media only screen and (max-device-width: 480px) {
  .Snapshot--size {
    width: 320px;
    height: 180px;
  }
}

.App-intro {
  font-size: large;
}

.Scene {
  padding: 0px;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.6)
}

.Scene--size {
  height: 80px;
}


.Face {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid orange;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
